<h1>Bem-vindo ao Sistema de Gerenciamento de Consultas</h1>

<p>Este sistema permite que você gerencie pacientes, médicos e consultas.</p>

<h2>Funcionalidades:</h2>
<ul>
  <li><%= link_to "Cadastrar Paciente", new_patient_path %></li>
  <li><%= link_to "Listar Todos Pacientes", patients_path %></li>
  <li><%= link_to "Cadastrar Médico", new_doctor_path %></li>
</ul>


